[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
openpyxl = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
